{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="form-connection">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h2 class="h3">Connecter vous</h2>
        <div class="input-form">
            <label for="inputUsername">Email ou nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="" autocomplete="username" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="" autocomplete="current-password" required>
            
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="check">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <button class="" type="submit">
            Se connecter
        </button>
        <div class="links">
            <a href="#"> Mot de passe oublié ? </a>
            <a href="#"> S'enregistrer </a>
        </div>

    </form>
    <div class="img-deco">
        <div class="logo-body">
            <img width="100px" height="100px" alt="2csLogo" src="{{ asset('images/logo/bigLogo2cs.svg') }}">
        </div>
        <div class="guy">
            <img width="400px" height="400px" alt="Connection guy" src="{{ asset('images/illustrations/conn_guy.svg') }}">
        </div>
    </div>

{% endblock %}
