<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}2cs Blog{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<nav class="navbar">
    <a href="{{ url('home') }}">
        <img width="60px" height="60px" alt="2cslogo" src="{{ asset('images/logo/logo.svg') }}">
    </a>

    <ul>
        <li> <a href="{{ url('home') }}"> Accueil </a> </li>
        <li> <a href="#"> Articles </a> </li>
        <li> <a href="#"> Link 3 </a> </li>
        <li> <a href="#"> Link 4 </a> </li>
    </ul>

    <div class="end-navBar">
        <div class="search-bar" placeholder="Rechercher un article">
            <input type="search">
        </div>

        <a class="button" href="{{ url('app_login') }}"> S'enregistrer </a>
    </div>


</nav>

{% block body %}{% endblock %}

</body>
</html>
